.backButton{
    margin-bottom: 1rem;
    width: 70px;
    padding: 0.5rem;
}

.buttonDiv{
    display: grid;
    grid-template-columns: 475px 475px;
    justify-content: center;
}
@media only screen and (max-width: 600px) {
    .buttonDiv{
        display: block;
        text-align: left;
        margin-left: 3rem;
    }
  }
.dark{
    background-color: rgb(63, 62, 62);
    color: white;
}

.light{
    background-color: white;
    color: black
}