.country {
  margin-top: 10%;
  margin-left: 15px;
}

.countryInfo {
  display: grid;
  grid-template-columns: 400px 200px 200px;
  grid-template-rows: 50px 1fr 1fr;
  column-gap: 50px;
  justify-content: center;
}

.countryFlag {
  width: 400px;
  height: 325px;
}

.countryName {
  grid-column: 2 / span 2;
  grid-row: 1;
}

.borders {
  grid-column: 2 / span 2;
  grid-row: 3;
}

.borderName {
  margin-right: 0.5rem;
}

.specificlInfo {
  grid-column: 2;
}

.country {
  margin-top: 10%;
  margin-left: 15px;
}

.spans {
  font-weight: 600;
}

.countryLinks {
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-width: 950px) {
  .countryInfo {
    display: block;
    
  }
  .countryFlag {
    width: 300px;
    height: 200px;
    margin-left: 2rem;
  }
  .moreInfo {
    margin-top: 2rem;
  }
  .main {
    text-align: left;
    margin-left: 5rem;
  }
}
